*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.bg-dark{
    background-color: #111111 !important;
}

.p-t-b{
    padding: 12px 0 12px 0;
}
.p-l{
    padding-left: 5px;
}
.p-r{
    padding-right: 4%;
}
p{
    margin-bottom: 0 !important;
}

ul{
    margin-bottom: 0 !important;
}
.cur{ 
    cursor: pointer;
}

a{
    text-decoration: none !important;
}
.input-group-text{
    margin-top: 4px;
    margin-left: -49px !important;
    cursor: pointer;
    border-radius: none !important;
    border-top-left-radius: 4px !important;
    border-bottom-left-radius: 4px !important;
}
.input-group .form-control {
    border-top-right-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}
.overlay-text {
    position: absolute;
    top: 35%;
    left: 40%;
    color: white;
    font-size: 24px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Khoảng cách giữa các phần tử */
  }
  .flex-item {
    flex: 0 0 calc(25% - 10px); /* 25% chiều rộng, trừ đi khoảng cách giữa các phần tử */
    max-width: calc(25% - 10px);
  }
  ul li a:hover{
    color: red !important;
  }
 